<div class="fixed">
	<ul>
		<li><%= nav_link_to 'Home', '/index.html' %></li>
		<li><%= nav_link_to 'Produkter', '/produkter/index.html', :id => 'nav_form' %></li>
		<li><%= nav_link_to 'Tjänster', '/tjanster/index.html', :id => 'nav_tjanster' %></li>
    <li><%= nav_link_to 'Om oss', '/om-oss/index.html', :id => 'nav_om-oss' %></li>

	</ul>
  <small>
    <ul>
      <li><%= link_to 'Hosting', '/tjanster/hosting.html' %></li>
      <li><%= link_to 'Support', '/tjanster/support.html' %></li>
      <li><%= link_to 'Kontakt', '/om-oss/form.html' %></li>
    </ul>
  </small>
</div>
